

#bg_top {
	width: 100%;
	height: auto;

	background-image: url(hero-bg.png);
	background-size: 100%;
	background-repeat: no-repeat 0 0; 
	background-position: center;
}

.head {
	overflow: hidden;
    margin: 0px 20px;
}

.head img {
	float: left;
}

.head ul {
    float: right;
    overflow: hidden;
    
    vertical-align: middle;
    line-height: 128px;
}

.head ul li {
    margin: 0px 20px;
	float: left;	
}

.head ul li a{
	color: #adadad;
	text-decoration: none;
	padding: 3px 6px;
}

.head ul li a:hover {
	padding: 3px 6px;
	color: #ffffff;
}

#button{
    overflow: hidden;
    float: left;
}

#button ul{
    margin: 150px 85px;
}

#button ul li {
	background-color: #9a9ca9;
	padding: 10px 10px;
	margin-bottom: 24px;
	border-radius: 50%;
}

#button ul li:hover{
	padding: 9px 9px;
	margin-bottom: 24px;
	border-radius: 50%;
	border: solid 1px;
	border-color: white;
	background-color: transparent;
}

.presentation{
    float: right;
    width: 30%;
    margin-top: 40px;
    padding-bottom: 160px;
    margin-right: 8%;
    background: url(bullets_bottom.png) no-repeat bottom left;
}

.presentation h1 {
	font-size: 36px;
	color: #ffffff;
}

.presentation p {
	margin: 20px 0px;
	color: #cdcdcd;
}

.presentation a{
	color: #ffffff;
	font-size: 25px;
	text-decoration: none;
    border: 2px solid #ffffff;
    padding: 15px 20px;
    display: inline-block;
}

#auto{
    overflow: hidden;
    margin-top: 500px;
    
    width: 100%;
    vertical-align: middle;
}

#auto .seats{
    margin-left: 10%;
    margin-bottom: 6%;
    float: left;
    padding-top: 150px;
    background: url(bullets_top.png) no-repeat top;
}

.seats h1{
    font-size: 100px;
    color: #ffffff;
}

.seats p{
    color: #cdcdcf;
    font-size: 13px;
}

#auto .acceleration{
    margin-bottom: 6%;
    float: left;
    margin-left: 20%;
    padding-top: 150px;
    background: url(bullets_top.png) no-repeat top;
}

.acceleration h1{
    font-size: 100px;
    color: #ffffff;
}

.acceleration h1 span{
    font-size: 50px;
    vertical-align: top;
}

.acceleration p{
    color:#cdcdcf;
    font-size: 13px;
}

#auto .range{
    margin-bottom: 6%;
    float: right;
    margin-right: 10%;
    padding-top: 150px;
    background: url(bullets_top.png) no-repeat top;
}

.range h1{
    font-size: 100px;
    color: #ffffff;
}

.range h1 span{
    font-size: 50px;
    vertical-align: top;
}

.range p{
    color: #cdcdcf;
    font-size: 13px;
}

#bg2{
    height: auto;
    width: 100%; 
}

#bg2 .exterior{
    background: #62647d;
    width: 50%;
    height: 320px;
}

.exterior ul{
    float: left;
    margin: 80px 20%;
}

.exterior ul h1{
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
}

.exterior ul p{
    font-size: 13px;
    color: #cdcdcb;
}

#bg2 .img_exterior {
    position: absolute;
    right: 0;
}

.img_exterior {
    height: 320px;
    width: 50%;
    background: url(exterior.jpg) no-repeat right center;
    background-size: 100%;
}

#bg2 .bullet1 {
    float: left;
    width: 400px;
    height: 40px;
    background: url(bullets_right_long.png) no-repeat center;
    position: absolute;
    padding-top: 14%;
    padding-left: 62%;
}

#bg3 {
    height: auto;
    width: 100%;
}

#bg3 .img_interior{
    position: absolute;
    left: 0;
}

.img_interior{
    height: 320px;
    width: 50%;
    background: url(interior.png) no-repeat left center;
    background-size: 100%;
}

#bg3 .interior{
    float: right;
    background: #30313e;
    width: 50%;
    height: 320px;
}

.interior ul{
    float: right;
    margin: 80px 20%;
}

.interior ul h1{
    font-size: 30px;
    color: #ffffff;
    line-height: 50px;
}

.interior ul p{
    font-size: 13px;
    color: #cdcdcb;
}

#bg3 .bullet2 {
    float: left;
    width: 150px;
    height: 40px;
    background: url(bullets_left_short.png) no-repeat center;
    position: absolute;
    padding-top: 27%;
    margin-left: 95%;
}

#bg4 {
    overflow: hidden;
    width: 100%;
    height: 290px;
    background: #ffffff;
}

#bg4 h1{
    text-align: center;
    margin-top: 115px;
}

#bg4 h1 a{
    color: #ffffff;
    font-size: 20px;
    text-decoration: none;
    background: #24242e;
    padding: 45px 10%;
}

#bg4 p{
    color: #707186;
    text-align: center;
    padding-top: 60px;
    text-decoration: none;
}

#last_bg {
    height: 120px;
    width: 100%;
    background: #62647d;
}

#last_bg img {
    float: left;
    margin-left: 47%;
    margin-top: 33px;
}